body {
    
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .main-box {
    border: 2px solid #000;
    padding: 20px;
    text-align: center;
    width: 300px;
    background-color: rgb(65, 133, 133);
  
  }

  .sub-box {
    margin-top: 10px;
  }